
.senha{
  width: 400px;
  height: 540px;
    background:  #1ac6ff;;
  margin-left: 510px;
  margin-top: 60px;
  border-radius: 8px;
padding-top: 40px;
border: 2px solid #0096cc;

}

.titulo{
  font-family:'Titania';
  color:white;
  float:top;
  font-size: 30px;
  text-shadow: 2px 2px 2px white;
  margin-left: 115px;
}

.rec{
  color:black;
  font-family:'Titania';
   font-size: 20px;
  margin-left: 130px;
}

#senhaForca{
width: 300px;
margin-left: 50px;
height: 40px;
}

.edite{
  margin-left: 50px;
}

.butao{
  margin-left: 140px;
}
